
.text{
  h1{
    font-weight: 300;
    font-size: 50px;
    text-align: center;
    color: #FFFFFF;
    line-height: 2rem;

    span{
      color: #0987A0;
      font-weight: bold;
      
    }
  }

  p{
    font-size: 25px;
    opacity: 0.8;
    color: #f5f5f5;
  }
}