@import '../../../styles/mixins/padding.scss';
@import '../../../styles/mixins/responsive.scss';

.container{
  @include Padding;
  margin-top: 3rem;

  h1{
    font-size: 40px;
    color: #372753;
    font-weight: bold;
    text-align: center;
  }

  p{
    font-size: 22px;
    line-height: 2rem;
    text-align: center;
    color: #464646;

    @include Phone{
      font-size: 18px;
    }
  }
}