@import '../../../styles/mixins/padding.scss';

.container{
  @include Padding;
  background-color: #362652;
  height: 250px;
  display: flex;
  justify-content: space-between;

  @include Phone{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    
  }
}

.footerImg{
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include Phone{
    display: flex;
    flex-direction: column;
  }

  img{
    height: 200px;
    object-fit: contain;
    width: 100%;

    @include Phone{
      height: 150px;
    }
  }
}

.textFooter{
  color: #f5f5f5;
  font-size: 22px;

  @include Phone{
    font-size: 18px;
    text-align: center;
  }
}

.social{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2{
    font-size: 35px;
    color: #f5f5f5;

  }
}

.reservade{
  display: flex;
  justify-content: flex-start;
  align-items: end;
  width: 100%;


  p{
    font-size: 20px;
    color: #9f9e9e;
    margin: 2px auto;

    @include Phone{
      font-size: 12px;
    }
  }
}

.socialIcon{
  display: flex;
  gap: 2rem;
  color: #f5f5f5;
  opacity: 0.8;

  @include Phone{
    padding-bottom: 1rem;
  }
}