@import '../../../styles/mixins/padding.scss';

.container{
  @include Padding;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: flex-start;
  justify-content: space-between;
  background-color: #e7e7e7;
  
}

.text{
  span{
    color: #2e2e2e;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
  }

  h1{
    font-size: 40px;
    color: #372753;
    font-weight: bold;
  }

  p{
    font-size: 22px;
    font-weight: 300;
    opacity: 0.8;
  }
}

.form{
  background-color: #FFFFFF;
  width: 586px;
  height: 657px;
}